<composant>
<div class="column is-4 m-5">
<formation></formation>
</div>
<div class ="column">
<listeEtablissements></listeEtablissements>
</div>
   <script>
      (async function main() {
        await riot.compile();
        riot.mount('formation');
        riot.mount('listeEatblissements');
      }());
    </script>

</composant>      
