<searchformation>
  <div class="control has-icons-left">
    <input id="input" class="input" type="search" placeholder="Formation">
    <span class="icon is-small is-left">
      <i class="fas fa-search">
      </i>
    </span>
  </div>

  <script>
  </script>
</searchformation>