<statsEtablissements>
<div class="card">
    <header class="card-header">
      <p class="card-header-title">Statistiques des établissements</p>
    </header>
    <div class="card-content">
      <div class="content">
        <p>Moyenne des admis : <strong>{item.moymentionall}</strong></p>
        <p>Capacité : <strong>4</strong></p>
        <p>Sélectivité : <strong>{item.selectiviteall}</strong></p>
      </div>
    </div>
  </div>
</statsEtablissements>